{% extends 'base.html' %}
{% load staticfiles compress require %}

{% block map %}
<div id="country">

</div>
<div id="mapid" style="height:500px;">
</div>

<div>

</div>
{% endblock %}



{% block footer_scripts %}
<script
  src="https://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>
<link rel="stylesheet" href="{% static 'css/leaflet.css' %}">
<script src="{% static 'js/leaflet.js' %}"></script>
<script src="{% static 'js/leaflet.migrationLayer.js' %}"></script>
<script src="{% static 'js/world_borders.js' %}"></script>
<script>

var mymap = L.map('mapid').setView([30, 0], 3);

// GeoJson style
gjStyle =
  {
        opacity: 0,
        color: 'blue',
        stroke: 'blue',
        fillOpacity: 0
  };

gjHoverStyle =
  {
        opacity: 1,
        stroke: 'red',
        width: 1,
        color: 'red',
  };

var neil

function onEachFeature(feature, layer) {
    layer.on({
          mouseover: function(){
          layer.setStyle(gjHoverStyle)
        }
    })
    layer.on({
          mouseout: function(){
          layer.setStyle(gjStyle)

        }
    })
    layer.on({
          click: function(){
            getCountryDetails(layer.feature.properties['NAME'])
        }
    })
};

var layer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
}).addTo(mymap);


var nations = L.geoJson(borders,{
  style:gjStyle,
  onEachFeature:onEachFeature
}).addTo(mymap);

var migrationEventLayer =  L.migrationLayer({
	map : mymap, data:[{"color": "#333333", "to": [14.139988372118708, 47.59295768443737], "labels": ["", "Austria 0.43925235"], "from": [43.77224555030643, 33.04800656205751]
}]})

// INITIALISE AND CLEAR THE MIGRATION LAYER

migrationEventLayer.addTo(mymap)
migrationEventLayer.hide()

// TO UPDATE THE MIGRATION LAYERS

function updateMigrationLater(country,year){
  $.ajax("/visualisation/map/" + country.toString() + "/" + year.toString() + "/",
  {
    success:function(data){
      if (data['data'].length ==0 ){
        migrationEventLayer.hide()
      }
      else {
        migrationEventLayer.setData(data['data'])
        migrationEventLayer.show()
      }
    }
  }
  )
}

function getCountryDetails(name){
  name = encodeURI(name)
  $.ajax("/visualisation/country/?name=" + name,
  {
    success:function(data){
      $('#country').html(data)
      migrationEventLayer.hide()
    }
  }
  )
};





</script>

{% endblock %}
